/*+clearfix {*/
#gallery_container:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
#gallery_container
{
	display: inline-block;
}
#gallery_container
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 60%;
	font-family: Arial, sans-serif;
	line-height: 1.5;
}
/*+}*/
#design
{
	background: url(design.png) no-repeat -1px 0px;
	width: 600px;
	height: 500px;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	/*+opacity:50%;*/
	filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	display: none;
}
/*GLOBAL
-tags*/
BODY
{
	background-color: #F0F0F0;
}
INPUT, TEXTAREA
{
	border: 1px solid #AAAAAA;
	outline: none;
}
INPUT:focus, TEXTAREA:focus
{
	border: 1px solid #0EB0C0;
	outline: none;
}
LABEL
{
	display: block;
}
/*-classes*/
.left
{
	float: left;
}
.right
{
	float: right;
}
A.button
{
	background: #666;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 8px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}
A.button:hover
{
	background: #444;
}
A.button2
{
	color: #000;
	text-decoration: underline;
	text-transform: uppercase;
	padding: 0px 3px;
	/*+opacity:80%;*/
	filter: alpha(opacity=80);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
A.button2:hover
{
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.pad
{
	padding: 6px 8px;
}
A.button.status-online
{
	background-color: #009245;
}
A.button.status-offline
{
	background-color: #ED1C34;
}
A.button.status-hidden
{
	background-color: #F29100;
}
/*dropdown*/
A.dropdown
{
	background: #666 url(dropdown.gif) no-repeat center right;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 23px 5px 8px; /*[e]5px 8px+15px 5px 8px*/
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	height: 12px;
	line-height: 12px;
	margin: 0;
	display: block;
	width: 140px;
	overflow: hidden;
}
.dropdown_list
{
	background: #666;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 23px 3px 8px; /*[e]3px 8px+15px 3px 8px*/
	/*+border-radius:0px 0px 5px 5px;*/
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	width: 140px;
	line-height: 12px;
	margin-top: -5px;
}
.dropdown_list LI
{
	list-style: none;
	line-height: 16px;
	height: 17px;
}
.dropdown_list A
{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
}
.dropdown_list A:hover
{
	text-decoration: underline;
}
/*MESSAGE*/
#message
{
	background: #00C45B;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 100%;
	font-size: 100%;
	height: 26px;
	z-index: 1000;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
#message .in
{
	padding: 6px 8px;
}
#message.style-0
{
	background: #ED1C34;
}
#message.style-1
{
	background: #00C45B;
}
#message.style-2
{
	background: #0EB0C0;
}
.warning
{
	background: #ED1C34;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 100%;
	font-size: 100%;
	padding: 3px 0;
	margin-top: 1px;
}
.warning SPAN
{
	margin-left: 8px;
}
/*HEADER*/
#header
{
	background: #000000;
	color: #FFFFFF;
	width: 100%;
	height: 26px;
	padding-top: 26px;
}
#header .in
{
	padding: 6px 8px;
}
#header A
{
	color: #FFF;
	text-decoration: none;
	font-size: 100%;
	text-transform: uppercase;
}
#header A:hover
{
	text-decoration: underline;
}
#header .middle
{
	/*+placement:anchor-top-left 0px 6px;*/
	position: absolute;
	left: 0px;
	top: 6px;
	width: 100%;
	text-align: center;
}
#header .middle A
{
	/*+placement:shift -14px 0px;*/
	position: relative;
	left: -14px;
	top: 0px;
}
#header LI
{
	display: inline;
	padding-left: 3px;
	padding-right: 6px;
	border-right: 1px solid #888888;
}
#header LI.last
{
	padding-right: 0px;
	border-right: none;
}
/*LOGIN*/
.loginform
{
	background-color: #E0E0E0;
	border-bottom: 1px solid #B3B3B3;
	padding: 10px;
	margin: 0 auto;
}
.loginform INPUT
{
	height: 20px;
	width: 150px;
	margin-bottom: 6px;
	font-size: 120%;
	padding: 0 2px;
}
.loginform .buttons
{
	margin-top: 9px;
	margin-bottom: 9px;
}
/*PROJECTS LIST*/
OL.sortable, OL.sortable OL
{
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}
OL.sortable
{
	margin: 0 0 4em;
}
OL.sortable LI
{
	margin: 4px 0 0;
	padding: 0;
}
OL.sortable LI DIV
{
	border: 1px solid #999999;
	padding: 3px;
	margin: 0;
	cursor: move;
	height: 34px; /*[e]40px-6px*/
	background-color: #FFF;
}
OL.sortable DIV.controls
{
	border: 0;
	width: 183px;
	height: 16px;
	/*+placement:anchor-top-right 3px 8px;*/
	position: absolute;
	right: 3px;
	top: 8px;
}
.controls .bt-publish SPAN
{
	display: inline;
}
.prj-unpublished .controls .bt-publish SPAN
{
	display: none;
}
.controls .bt-hide SPAN
{
	display: none;
}
.prj-hide .controls .bt-hide SPAN
{
	display: inline;
}
.prj-hide
{
	opacity: .5;
}
.placeholder
{
	background-color: #CFCFCF;
}
.controls A
{
	float: right;
	/*+placement:float-left 0px 2px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 2px;
	color: #000000;
	text-decoration: none;
	padding-right: 2px;
}
.controls A:hover
{
	text-decoration: underline;
}
.controls A.button.bt-status
{
	width: 52px;
	height: 16px;
	margin: 0;
	padding: 1px 0 0;
	display: block;
	text-align: center;
	color: #FFFFFF;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
	/*+placement:float-right 0px -1px;*/
	float: right;
	position: relative;
	left: 0px;
	top: -1px;
}
/*PROJECT EDIT*/
#title_section
{
	border: 1px solid #AAAAAA;
	background: #FFFFFF;
	width: 100%;
	margin-bottom: 5px;
}
#title_section .pad
{
	padding: 3px;
}
INPUT#project_title
{
	font-size: 210%;
	width: 100%;
	height: 22px;
	background-color: #FFFFFF;
	border: none;
}
.top-fixed
{
	background-color: #C0C0C0;
	border-bottom: 1px solid #AAAAAA;
	height: 87px;
	padding-top: 5px;
}
.top-fixed .buttons
{
	width: 50%;
	height: 36px;
	text-align: right;
	margin-top: -18px;
	/*+placement:float-right 1px 0px;*/
	float: right;
	position: relative;
	left: 1px;
	top: 0px;
}
.top-fixed #slug
{
	z-index: 120;
	width: 100%;
	/*+placement:shift 2px -3px;*/
	position: relative;
	left: 2px;
	top: -3px;
	color: #5A5A5A;
	font-size: 110%;
}
.top-fixed #slug A
{
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	padding-right: 2px;
}
.top-fixed #slug A:hover
{
	color: #FFFFFF;
}
.top-fixed #slug A EM
{
	text-decoration: underline;
}
.top-fixed #slug A:hover SPAN
{
	color: #000000;
}
.top-fixed #slug A:hover EM
{
	text-decoration: none;
}
.template-select
{
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
.uploadbutton INPUT
{
	position: absolute;
	z-index: 100;
	/*+opacity:0;*/
	filter: alpha(opacity=0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
/*[clearfix]*/#gallery_container
{
	border: 1px solid #B3B3B3;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 2px;
}
.toolbar
{
	background: #EEE;
	border-bottom: 1px solid #B3B3B3;
	list-style: none;
	height: 20px;
}
.toolbar LI A, .toolbar LI .uploadbutton
{
	color: #000;
	background: #CCC;
	display: inline;
	height: 17px;
	padding: 3px 5px 0;
	text-decoration: none;
	text-transform: uppercase;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	border-right: 1px solid #B3B3B3;
	overflow: hidden;
}
.toolbar LI A:hover, .toolbar LI .uploadbutton:hover
{
	background: #999;
}
.progress_holder
{
	width: 200px;
	height: 5px;
	border: 1px solid #999999;
}
.progress_holder .progress
{
	width: 0.1%;
	height: 100%;
	background: #00C45B;
}
#edit_media_dialog .preview IMG
{
	width: 100% !important;
}
#edit_media_dialog .preview
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	height: 200px;
	width: 45%;
	overflow: hidden;
	margin: 6px;
	background-color: #F0F0F0;
}
#edit_media_dialog .form
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 50%;
	margin-top: 3px;
	z-index: 100;
}
#edit_media_dialog .form INPUT
{
	height: 20px;
	width: 100%;
	margin-bottom: 6px;
	font-size: 120%;
	padding: 0 2px;
}
#edit_media_dialog .form TEXTAREA
{
	height: 114px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 120%;
	padding: 0 2px;
	border-color: #AAAAAA;
}
#edit_embed_form .form TEXTAREA
{
	height: 71px;
	width: 100%;
	margin-bottom: 10px;
	font-size: 120%;
	padding: 0 2px;
	border-color: #AAAAAA;
}
#gallery
{
	padding: 7px 6px 21px 10px;
}
.item
{
	padding: 3px 6px 21px 0;
	float: left;
	width: 72px;
	height: 72px;
	text-align: center;
}
.item IMG
{
	border: 1px solid #BBBBBB;
	cursor: move;
}
.item:hover IMG
{
	border: 1px solid #444444;
}
.item.project-thumbnail IMG
{
	border: 1px solid #ED1C34;
}
.item .controls
{
	display: block;
	position: absolute;
	margin-top: 72px;
	font-size: 9px;
}
.item A
{
	margin-right: 2px;
}
.item .caption
{
	display: none;
}
/*SETTINGS*/
.savesettings
{
	/*+placement:shift 8px 0px;*/
	position: relative;
	left: 8px;
	top: 0px;
}
#list-settings
{
	border-top: 1px solid #BBBBBB;
	margin-top: 10px;
	margin-bottom: 10px;
}
.setting
{
	border-bottom: 1px solid #BBBBBB;
	clear: both;
	padding: 10px 8px;
	height: 20px;
}
.setting LABEL
{
	font-size: 110%;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 140px;
}
.setting INPUT
{
	width: 342px;
	height: 18px;
	font-size: 110%;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
.settings-top
{
	margin-top: 9px;
}
/*PANES*/
.ui-layout-pane-center
{
	padding: 0;
	margin: 0;
}
.ui-layout-pane-west
{
	overflow: auto;
	background-color: #F0F0F0;
}
.ui-layout-resizer
{
	background: #888;
}
.ui-layout-resizer-open:hover
{
	background: #9D9;
}
.ui-layout-toggler
{
	background: #AAA;
}
.ui-layout-toggler-closed
{
	background: #CCC;
	border-bottom: 1px solid #BBB;
}
.ui-layout-toggler .content
{
	font: bold 14px Verdana, Verdana, Arial, Helvetica, sans-serif;
}
.ui-layout-toggler:hover
{
	background: #DCA;
}
.ui-layout-mask
{
	opacity: 0.2 !important;
	filter: alpha(opacity=20) !important;
	background-color: #666 !important;
}
