 #project_text {
     width: 100%;
     height: 300px;
}

#gallery { width:100%;}
	.media { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 70px; height: 70px; text-align: center;background:#ccc; overflow:hidden; }
    .media img { width: 70px; }

.media .controls {display:block;position:absolute;margin-top:70px;font-size:9px;}
.media a { margin-right:2px;}
.media .caption { display:none;}
body {
			color: #333;
			background-color: #fff;
			font-size: 13px;
			font-family: Arial, sans-serif;
		}


		.placeholder {
			background-color: #cfcfcf;
		}

		.ui-nestedSortable-error {
			background:#fbe3e4;
			color:#8a1f11;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
		}

		.sortable li {
			margin: 7px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid black;
			padding: 3px;
			margin: 0;
			cursor: move;
		}

		h1 {
			font-size: 2em;
			margin-bottom: 0;
		}

		h2 {
			font-size: 1.2em;
			font-weight: normal;
			font-style: italic;
			margin-top: .2em;
			margin-bottom: 1.5em;
		}

		h3 {
			font-size: 1em;
			margin: 1em 0 .3em;;
		}

		p, ol, ul, pre, form {
			margin-top: 0;
			margin-bottom: 1em;
		}

		dl {
			margin: 0;
		}

		dd {
			margin: 0;
			padding: 0 0 0 1.5em;
		}

		code {
			background: #e5e5e5;
		}

		input {
			vertical-align: text-bottom;
		}

		#notice {
			color: #c33;
		}
                ol div.controls {
                    margin:0;
                    padding:0;
                    border:0;
                }
                .controls a {
                    margin-right: 3px;
                }

                .controls .bt-publish span {
                    display: inline;
                }

                

                .prj-unpublished .controls .bt-publish span {
                    display: none;
                }
                .controls .bt-hide span {
                    display: none;
                }
                .prj-hide .controls .bt-hide span {
                    display: inline;
                }
                .prj-hide {
                opacity:.5;

                }




	.ui-layout-pane { /* all 'panes' */
		border: 1px solid #BBB;
	}
	.ui-layout-pane-center { /* IFRAME pane */
		padding: 0;
		margin:  0;
	}
	.ui-layout-pane-west { /* west pane */
		padding: 0 10px;
		background-color: #FFF !important;
		overflow: auto;
	}

	.ui-layout-resizer { /* all 'resizer-bars' */
		background: #DDD;
		}
		.ui-layout-resizer-open:hover { /* mouse-over */
			background: #9D9;
		}

	.ui-layout-toggler { /* all 'toggler-buttons' */
		background: #AAA;
		}
		.ui-layout-toggler-closed { /* closed toggler-button */
			background: #CCC;
			border-bottom: 1px solid #BBB;
		}
		.ui-layout-toggler .content { /* toggler-text */
			font: 14px bold Verdana, Verdana, Arial, Helvetica, sans-serif;
		}
		.ui-layout-toggler:hover { /* mouse-over */
			background: #DCA;
			}
			.ui-layout-toggler:hover .content { /* mouse-over */
				color: #009;
				}

	/* class to make the 'iframe mask' visible */
	.ui-layout-mask {
		opacity: 0.2 !important;
		filter:	 alpha(opacity=20) !important;
		background-color: #666 !important;
	}


	body {
		background-color: black;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}

	ul { /* basic menu styling */
		margin:		1ex 0;
		padding:	0;
		list-style:	none;
		position:	relative;
	}
	li {
		padding: 0.15em 1em 0.3em 5px;
	}

