/**
 * Admin css
 * -> this needs to be redone from scratch!
 */
 #project_text {
     width: 500px;
     height: 300px;

}

#gallery { width:900px;}
	.media { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 70px; height: 70px; text-align: center;background:#ccc; overflow:hidden; }
    .media img { width: 70px; }

.media .controls {display:block;position:absolute;margin-top:70px;font-size:9px;}
.media a { margin-right:2px;}
.media .caption { display:none;}

		body {
			color: #333;
			background-color: #fff;
			font-size: 13px;
			font-family: Arial, sans-serif;
			padding: 2em 4em;
			width: 860px;
			margin: 0 auto;
		}

		pre, code {
			font-size: 12px;
		}

		small {
			font-size: 90%;
		}

		small code {
			font-size: 11px;
		}

		.placeholder {
			background-color: #cfcfcf;
		}

		.ui-nestedSortable-error {
			background:#fbe3e4;
			color:#8a1f11;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
		}

		.sortable li {
			margin: 7px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid black;
			padding: 3px;
			margin: 0;
			cursor: move;
		}

		h1 {
			font-size: 2em;
			margin-bottom: 0;
		}

		h2 {
			font-size: 1.2em;
			font-weight: normal;
			font-style: italic;
			margin-top: .2em;
			margin-bottom: 1.5em;
		}

		h3 {
			font-size: 1em;
			margin: 1em 0 .3em;;
		}

		p, ol, ul, pre, form {
			margin-top: 0;
			margin-bottom: 1em;
		}

		dl {
			margin: 0;
		}

		dd {
			margin: 0;
			padding: 0 0 0 1.5em;
		}

		code {
			background: #e5e5e5;
		}

		input {
			vertical-align: text-bottom;
		}

		#notice {
			color: #c33;
		}
                ol div.controls {
                    margin:0;
                    padding:0;
                    border:0;
                }
                .controls a {
                    margin-right: 3px;
                }

                .controls .bt-publish span {
                    display: inline;
                }

                

                .prj-unpublished .controls .bt-publish span {
                    display: none;
                }
                .controls .bt-hide span {
                    display: none;
                }
                .prj-hide .controls .bt-hide span {
                    display: inline;
                }
                .prj-hide {
                opacity:.5;

                }

